spring:
  flyway:
    enabled: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:reservation_db}
    username: ${DB_USERNAME:reservation_user}
    password: ${DB_PASSWORD:secret}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${SPRING_MAIL_HOST:}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true

  app:
    jwt:
      secret: ${APP_JWT_SECRET:my-super-secret-key-for-jwt-must-be-at-least-256-bits-long}
      expiration-ms: 3600000


  springdoc:
    api-docs:
      path: /v3/api-docs
    swagger-ui:
      path: /swagger-ui.html


  server:
    port: ${PORT:8080}


  logging:
    level:
      root: INFO
      org.hibernate.SQL: DEBUG

